.gmaps-map {
  position: relative;
  width: 100%;
  height: 100%;
}
.gmaps-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gmaps-spinner::after {
  content: '';
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 20px solid #ccc;
  border-radius: 50%;
  border-top-color: #aaa;
  animation: gmaps-spin 1s ease-in-out infinite;
}
.gmaps-error {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  transform: translateY(-50%);
  color: rgb(175, 0, 0);
  font-size: 24px;
}
@keyframes gmaps-spin {
  to {
    transform: rotate(360deg);
  }
}
