
.gmaps-popup-bubble {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  color: #444;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.gmaps-popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.gmaps-popup-bubble-anchor::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid;
  /* Pseudo element inherits parent's color value */
  border-top-color: inherit !important;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.gmaps-popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  width: 100%;
}